{{#data}}
  <div>
    <h2>{{name}}</h2>
    <p>Age: {{details.age}}</p>
    <p>Email: {{details.email}}</p>
    <p>Address: {{details.address.street}}, {{details.address.city}}, {{details.address.state}} {{details.address.zip}}</p>
  </div>
{{/data}}
